<mat-card style="background-color: black; color: white">
    <h1>Weather Application</h1>
</mat-card>

<br>
<br>
<br>

<div style="padding-left: 50px; padding-right: 50px;">

        <h1>Today's Weather</h1>

        <form #searcPlace="ngForm" (ngSubmit)="onSubmit(searcPlace.value)" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search any city</mat-label>

                <input type="text" name="search" matInput placeholder="City" value="" [(ngModel)] = "search">
            </mat-form-field>
            <mat-icon>search</mat-icon>

            <div class="example-button-row">
                <button mat-raised-button style="background-color: black; color: white">Search</button>
            </div>
        </form>

        <br>
        <br>
        <br>

        <div *ngIf = "isWeatherShown">
            <mat-card>
                <div> Country:  {{ requestedWeatherObject?.location.country }} </div>

                <div>  City:  {{ requestedWeatherObject?.location.name }} </div>

                <div> {{ requestedWeatherObject?.current.feelslike_c }}  Degrees Celcius </div>

                <br>
                <button mat-raised-button (click)="saveItem(requestedWeatherObject)">Bookmark</button>
            </mat-card>
        </div>

        <div *ngIf = "!isWeatherShown">
            <mat-card>
                Please search for something here...
            </mat-card>
        </div>

        <br>
        <br>
        <br>

        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <h1>Bookmarks</h1>

            <button mat-raised-button (click)="clearBookmarks()" style="background-color: grey; color: white">Clear</button>
        </div>

         <br>

        <div>
            <ng-container *ngFor="let bookmark of allParsedBookmarks">
                <mat-card style="background-color: #F6F6F6; border: 0.1px solid black;">
                    <div>  Country:  {{ bookmark.location.country }} </div>

                    <div> City:  {{ bookmark?.location.name }}  </div>

                    <div> {{ bookmark?.current.feelslike_c }}  Degrees Celcius </div>
                </mat-card>
                <br>
            </ng-container>
        </div>

</div>

