<mat-card class="color-styling mb">
  <h1>Weather Application</h1>
</mat-card>

<div class="content-spacing">
  <h1>Today's Weather</h1>

  <form
    #searcPlace="ngForm"
    (ngSubmit)="onSubmit(searcPlace.value)"
    class="example-form mb"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search any city</mat-label>

      <input
        type="text"
        name="search"
        matInput
        placeholder="City"
        value=""
        [(ngModel)]="search"
      />
    </mat-form-field>
    <mat-icon>search</mat-icon>

    <div class="example-button-row">
      <button mat-raised-button class="color-styling">Search</button>
    </div>
  </form>

  <div *ngIf="isWeatherShown">
    <mat-card>
      <div>Country: {{ requestedWeatherObject?.location.country }}</div>

      <div>City: {{ requestedWeatherObject?.location.name }}</div>

      <div>
        {{ requestedWeatherObject?.current.feelslike_c }} Degrees Celcius
      </div>

      <br />
      <button mat-raised-button (click)="saveItem(requestedWeatherObject)">
        Bookmark
      </button>
    </mat-card>
  </div>

  <div *ngIf="!isWeatherShown" class="mb">
    <mat-card> Please search for something here... </mat-card>
  </div>

  <div class="content-alignment">
    <h1>Bookmarks</h1>

    <button
      mat-raised-button
      (click)="clearBookmarks()"
      class="button-styling mb"
    >
      Clear
    </button>
  </div>

  <div>
    <ng-container *ngFor="let bookmark of allParsedBookmarks">
      <mat-card class="card-styling">
        <div>Country: {{ bookmark.location.country }}</div>

        <div>City: {{ bookmark?.location.name }}</div>

        <div>{{ bookmark?.current.feelslike_c }} Degrees Celcius</div>
      </mat-card>
      <br />
    </ng-container>
  </div>
</div>
